framework: auto-detect

source https://nuget.org/api/v2

nuget InfluxDB.WriteOnly 3.0.1-beta
nuget Owin 1.0
nuget FSharp.Core 4.5.2
nuget Microsoft.AspNet.WebApi.Core 5.2.3
clitool dotnet-fake

group Test
source https://nuget.org/api/v2

nuget NSubstitute 2.0.3
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0
nuget FluentAssertions 4.19.4

group Formatting
source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Formatting prerelease
nuget FSharp.Formatting.CommandTool prerelease

group FakeBuild
source https://api.nuget.org/v3/index.json

storage: none

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto 
nuget Fake.DotNet.FSFormatting 
nuget Fake.Api.GitHub

group Samples
source https://api.nuget.org/v3/index.json

nuget Newtonsoft.Json