type project
owners
    Telenor MVNO
authors 
    Telenor MVNO
projectUrl
    http://github.com/mvno/Okanshi
iconUrl
    https://raw.githubusercontent.com/mvno/Okanshi/master/docs/files/img/logo.png
licenseUrl
    http://github.com/mvno/Okanshi/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    monitoring
summary
    In-process monitoring solution
description
    In-process monitoring solution


